[submodule "Frameworks/TouchXML"]
	path = Frameworks/TouchXML
	url = git://github.com/TouchCode/TouchXML.git
[submodule "Frameworks/FMDB"]
	path = Frameworks/FMDB
	url = git://github.com/ccgus/fmdb.git
[submodule "Frameworks/prettyKit"]
	path = Frameworks/prettyKit
        url = git@github.com:HAND-MAS/PrettyKit.git
[submodule "Frameworks/Three20"]
	path = Frameworks/Three20
	url = git://github.com/HAND-MAS/three20.git
